
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;

  }


  #regpage {
    margin-top: 50px;
    margin-bottom: 230px;
  }

  .formgroup {
    width: 45%;
    margin-top: 1em;
    transition: all 0.3s;
    /* border:1px solid red; */
  }
  .form-label,.form-label1,
  .form-label2,.form-label3,
  .form-label4,.form-label5,
  .form-label6,.form-label7,
  .form-label8,.form-label9 {
    display: block;
    transform: translateY(-1.8em);
    transform-origin: 0 0;
    transition: all 0.3s;
    font-size: 10px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-input {
    width: 100%;
    border-style: none none solid none;
    border-bottom: 1px solid;
    outline: none;
  }
  .form-input::placeholder {
    color: transparent;
  }
  .form-input:focus +.form-label,
  .form-input:focus +.form-label1,.form-input:focus +.form-label2,
  .form-input:focus +.form-label3,.form-input:focus +.form-label4,
  .form-input:focus +.form-label5,.form-input:focus +.form-label6,
  .form-input:focus +.form-label7,  .form-input:focus +.form-label9,
  .form-input:not(:placeholder-shown) + .form-label,
  .form-input:not(:placeholder-shown) + .form-label1,
  .form-input:not(:placeholder-shown) + .form-label2,
  .form-input:not(:placeholder-shown) + .form-label3,
  .form-input:not(:placeholder-shown) + .form-label4,
  .form-input:not(:placeholder-shown) + .form-label5,
  .form-input:not(:placeholder-shown) + .form-label6,
  .form-input:not(:placeholder-shown) + .form-label7,
  .form-input:not(:placeholder-shown) + .form-label8,
  .form-input:not(:placeholder-shown) + .form-label9  {
    transform: translateY(-3em);
    transition: all 0.3s;
  }
label.active {
  opacity: 0;
}

  span {
    text-decoration: underline;
  }
  
  #wholeform {
    /* border:1px solid rgb(0, 23, 128); */
    width: 860px;
    margin-left: 18%;
  }
  #sub1 {
    /* border:1px solid green; */
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  #sub2 {
    width: 50%;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 0%;
  }
  #sub2 .prefix {
    width: 65%;
    padding-right: 3%;
    /* border:1px solid red; */
  }
  #sub2 .postfix {
    width: 100%;
   
  }
  #sub3 > div {
    padding: 1% 0% 1% 0%;
  }
  #createaccount {
    width: 390px;
    height: 35px;
    border: 0px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 4%;
  }
  label {
    color: grey;
    font-family: inherit;
    font-size: 10px;
  }
  .black {
    color: black;
    font-weight: normal;
    font-size: 13px;
  }
  select {
    border-style: none none solid none;
    width: 90%;
  }
 
  @media only screen and (max-width: 785px) {
    #regpage {
      
    
    margin-bottom: 100px;
  
    }
  }
